body {
  font-size: 16px;
  background: #ddd;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, helvetica, sans-serif;
  font-size: 4vh;
}

.area {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.area .content > * {
  text-align: center;
  width: 100%;
}

button {
  background: #369;
  color: #fff;
  border: 0;
  margin: 2px;
  line-height: 2em;
  border-radius: .2em;
  cursor: pointer;
}

#result,
#game,
#muppet,
#who-starts {
  display: none;
}

#muppet {
  background: #000;
  align-items: center;
}
#muppet > div {
  width: 100%;
  background: url("https://i.giphy.com/media/yr7n0u3qzO9nG/giphy.webp") no-repeat center center fixed;
  height: 100%;
}

#who-starts > .container > h3 {
  width: 100%;
}
#who-starts > .container > button {
  font-size: 2em;
  width: calc(50% - .02em);
  box-sizing: border-box;
  float: left;
  margin: .01em;
  border: .03em solid #369;
  background: transparent;
  text-transform: uppercase;
}
#who-starts > .container > button.x {
  color: #00a;
}
#who-starts > .container > button.o {
  color: #a00;
}

#game {
  position: relative;
  flex-direction: column;
}
#game #options {
  position: absolute;
  left: 0;
  top: 0;
  padding: .2em;
}
#game [type="checkbox"] {
  display: none;
}
#game.x-turn .layer .tile {
  border-color: #00a;
}
#game.o-turn .layer .tile {
  border-color: #a00;
}
#game .layer {
  margin-left: -2.5em;
  height: 5em;
  width: 9em;
  transform: rotate(-90deg) rotateY(-60deg) rotateZ(-60deg);
  position: relative;
}
#game .layer .tile {
  display: flex;
  justify-content: center;
  align-items: center;
}
#game .layer .tile:hover {
  background: #ddd;
}
#game .layer .tile.x {
  pointer-events: none;
}
#game .layer .tile.x:before {
  content: "X";
  color: #00a;
  font-size: 2em;
}
#game .layer .tile.o {
  pointer-events: none;
}
#game .layer .tile.o:before {
  content: "O";
  color: #a00;
  font-size: 2em;
}
#game label {
  display: block;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
  border: 1px solid #aaa;
  width: 2em;
  height: 2em;
  display: none;
}
#game label[for*="o"] {
  display: block;
}
